snippet imco "Components' import"
import React from 'react';
endsnippet

snippet exco "Export a new React component"
export default class ${1} extends React.Component {
  render() {
     return (
     );
  }
}
endsnippet
