[submodule "bundle/vim-fish"]
	path = bundle/vim-fish
	url = https://github.com/dag/vim-fish
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/wting/rust.vim
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "bundle/landscape.vim"]
	path = bundle/landscape.vim
	url = https://github.com/itchyny/landscape.vim
